@import "variables.css";
header {
  width: 100%;
  position: fixed;
  top: 0;
  left: 0;
  z-index: 1000;
  box-shadow: var(--box-shadow);
}
nav {
  height: auto;
  padding: 20px 5%;
  display: flex;
  justify-content: space-between;
  align-items: center;
}
nav .navbar-links {
  display: flex;
  gap: 4rem;
}
nav .navbar-links a {
  font-size: var(--f4);
  font-weight: 500;
  text-transform: uppercase;
  color: var(--color-gray1);
}
nav .navbar-links a:hover {
  color: var(--color-blue1);
}
nav .navbar-links a::after {
  content: "";
  display: block;
  width: 0%;
  height: 0.3rem;
  background-color: var(--color-blue1);
  transition: all 0.5s ease-in-out;
}
nav .navbar-links a:hover::after {
  width: 100%;
}
nav .mobile-menu {
  display: none;
}
/* === Responsibility === */

@media (max-width: 650px) {
  nav .navbar-links {
    display: none;
  }
  nav .navbar-links.active {
    width: 80vw;
    height: 50vh;
    margin: 0 5%;
    padding: 3rem 0;
    display: flex;
    flex-direction: column;
    align-items: center;
    position: absolute;
    top: 10rem;
    z-index: 1000;
    background: linear-gradient(
      130deg,
      rgba(255, 255, 255, 0.1),
      rgba(255, 255, 255, 0)
    );
  }
  nav .navbar-links.active a {
    width: 80vw;
    display: block;
    text-align: center;
    margin: 0 2rem;
    font-size: var(--f6);
  }
  nav .mobile-menu {
    display: block;
    margin-left: 1rem;
  }
}
